.bannerContainer {
  padding: 16px 20px;
  margin: 0 16px 16px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid transparent;

  &[banner-type="info"] {
    border-color: var(--banner-info-border);
    background-color: var(--banner-info-bg);
    color: var(--banner-info-text);
  }

  &[banner-type="warning"] {
    border-color: var(--banner-warning-border);
    background-color: var(--banner-warning-bg);
    color: var(--banner-warning-text);
  }

  &[banner-type="error"] {
    border-color: var(--banner-error-border);
    background-color: var(--banner-error-bg);
    color: var(--banner-error-text);
  }
}
