:root {
  --banner-info-bg: #88cbf5;
  --banner-info-border: #c3d9ff;
  --banner-info-text: #23558d;

  --banner-warning-bg: #e19024;
  --banner-warning-border: #ffc389;
  --banner-warning-text: #fff5e6;

  --banner-error-bg: #ea6161;
  --banner-error-border: #ff9b94;
  --banner-error-text: #ffe7e6;
}

.bannerContainer {
  padding: 16px 20px;
  border-radius: 4px;
  margin: 0 16px 16px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid transparent;

  &[banner-type="info"] {
    border-color: var(--banner-info-border);
    background-color: var(--banner-info-bg);
    color: var(--banner-info-text);
  }

  &[banner-type="warning"] {
    border-color: var(--banner-warning-border);
    background-color: var(--banner-warning-bg);
    color: var(--banner-warning-text);
  }

  &[banner-type="error"] {
    border-color: var(--banner-error-border);
    background-color: var(--banner-error-bg);
    color: var(--banner-error-text);
  }
}
