.label {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  overflow: hidden;
  background-color: transparent;
  white-space: nowrap;
  user-select: none;

  &[is-inline="false"] {
    border-radius: 48px;
    height: 27px;
    z-index: 0;
    min-width: auto;
    border: 1px solid var(--rs-border-primary);
    padding: 0 10px;
  }

  &[is-inline="true"] {
    padding: 0 5px;
  }
}

.labelColor {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;

  &[is-inline="true"] {
    margin-right: 5px;
  }
}
