@use "sass:color" as color;

.button {
  overflow: hidden;
  padding: 0px;
  border-width: 1px;
  border-radius: 3px;
  min-width: 1.5rem;
  height: 1.5rem;
  position: relative;
  display: inline-flex;
  vertical-align: top;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  white-space: nowrap;
  flex-shrink: 0;
  margin: 0px;
  font-weight: 500;
  line-height: normal;
  transition-property: border, background-color, color, opacity;
  transition-duration: 0.15s;
  user-select: none;
  position: relative;
  border: 1px solid transparent;
  background-color: transparent;
  color: var(--rs-text-primary);
  fill: var(--rs-text-primary);

  &[data-disabled="true"] {
    background-color: transparent !important;
  }
}
