.inlineIssueContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid transparent;

  transition: background-color 0.2s, border-color 0.2s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-color: rgba(0, 0, 0, 0.05);
  }
}

.inlineIssueTitleContainer {
  color: var(--rs-text-primary);
  font-size: var(--font-size-xsmall);
  font-weight: 500;
  margin-left: 8px;

  .inlineIssueIdentifier {
    color: var(--rs-text-secondary);
    margin-right: 4px;

    &:hover {
      text-decoration: underline;
    }
  }

  .inlineIssueIdentifier,
  .inlineIssueTitle {
    cursor: pointer;
  }
}

.inlineIssueActions {
  display: flex;
}
