/* stylelint-disable custom-property-pattern */
/* stylelint-disable selector-class-pattern */

.videoPlayerWrapper video {
  object-fit: fill;
  border-radius: 10px;
}

.videoPlayerWrapper__loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 10px;
  background: var(--vscode-editor-inactiveSelectionBackground, rgb(255 255 255 / 4%));
}
