/* stylelint-disable custom-property-pattern */

.commentInputContainer {
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid var(--rs-border-primary);
  background-color: var(--rs-bg-overlay);
  margin-bottom: 8px;
  z-index: 15;
  position: relative;
  outline: none;
  display: flex;
  flex-direction: column;
}

.commentActions {
  display: flex;
  flex-shrink: initial;
  flex-basis: initial;
  flex-direction: row-reverse;
  align-items: center;
  flex-grow: 1;
  gap: 12px;
}
