/* stylelint-disable custom-property-pattern */
/* stylelint-disable selector-class-pattern */

.startWorkHeader {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  flex: 1;
}

.startWorkContentTitle {
  font-weight: 600;
  cursor: pointer;
  flex: 1;

  p {
    margin: 0;
    white-space: nowrap !important;
  }
}

.startWorkContentIdentifier {
  color: var(--rs-text-secondary);
  white-space: nowrap;
  margin-right: 8px;
}

.startWorkContentTitleInput {
  margin-top: -5px;
  margin-left: 10px;
}

.startWorkContentActions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  margin-top: 8px;
}

.startWorkContentLeftActions {
  display: flex;
  align-items: center;
  gap: 4px;
}

.startWorkContentInfoBox {
  margin-top: 8px;
}

.startWorkActions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 24px;
  width: 100%;
}

.startWorkBannerActions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 16px;
  width: 100%;
}

.startWorkBannerBranchRow {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 8px;
}
