.issueContainer {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  min-width: 0;
  flex-shrink: 1;
  height: 16px;
  padding: 5px;
  margin-right: 2px;
  border: 1px solid transparent;
  border-radius: 4px;
  user-select: none;
  cursor: pointer;

  &:hover {
    background: var(--lm-hover-overlay);
    border: 1px solid var(--rs-border-primary);
  }
}

.issueIdentifier {
  color: var(--rs-text-secondary);
  white-space: nowrap;
}

.issueTitle {
  color: var(--rs-text-primary);
  white-space: nowrap;
}
