.emoji {
  display: inline-flex;
  align-items: center;
  padding: 4px 7px 5px;
  height: 15px;
  border-radius: 30px;
  background: var(--vscode-badge-background);
  border: 1px solid var(--rs-border-primary);
  cursor: pointer;

  &:hover {
    background: var(--lm-hover-overlay-strong);
    border-color: var(--rs-border-primary);
  }

  & > span:first-child {
    margin-right: 6px;
    font-size: var(--font-size-small);
  }
}
