.issueActivityContainer {
  padding-bottom: 20px;
}

.activityBreadcrumbTrail {
  height: calc(100% - 20px);
  width: 1px;
  background-color: var(--rs-text-secondary);
  left: 9.5px;
  top: 10px;
  bottom: 10px;
  position: absolute;
}
